<p id="notice"><%= notice %></p>

<p>
  <strong>Annotate:</strong>
  <%= @goannotation.annotate %>
</p>

<%= link_to 'Edit', edit_goannotation_path(@goannotation) %> |
<%= link_to 'Back', goannotations_path %>
