<p id="notice"><%= notice %></p>

<p>
  <strong>Neighbor:</strong>
  <%= @isadiseaseneighbor.neighbor %>
</p>

<%= link_to 'Edit', edit_isadiseaseneighbor_path(@isadiseaseneighbor) %> |
<%= link_to 'Back', isadiseaseneighbors_path %>
