<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @externalsoform.url %>
</p>

<%= link_to 'Edit', edit_externalsoform_path(@externalsoform) %> |
<%= link_to 'Back', externalsoforms_path %>
