<p id="notice"><%= notice %></p>

<p>
  <strong>Neighbor:</strong>
  <%= @isaproneighbor.neighbor %>
</p>

<%= link_to 'Edit', edit_isaproneighbor_path(@isaproneighbor) %> |
<%= link_to 'Back', isaproneighbors_path %>
