<p id="notice"><%= notice %></p>

<p>
  <strong>Diseasclass:</strong>
  <%= @siseasclass.diseasclass %>
</p>

<%= link_to 'Edit', edit_siseasclass_path(@siseasclass) %> |
<%= link_to 'Back', siseasclasses_path %>
