<p id="notice"><%= notice %></p>

<p>
  <strong>Synonymname:</strong>
  <%= @synonymprotein.synonymname %>
</p>

<%= link_to 'Edit', edit_synonymprotein_path(@synonymprotein) %> |
<%= link_to 'Back', synonymproteins_path %>
