<p id="notice"><%= notice %></p>

<p>
  <strong>Neighbor:</strong>
  <%= @disjointneighbor.neighbor %>
</p>

<%= link_to 'Edit', edit_disjointneighbor_path(@disjointneighbor) %> |
<%= link_to 'Back', disjointneighbors_path %>
