<p id="notice"><%= notice %></p>

<p>
  <strong>Neighbor:</strong>
  <%= @intersectionneighbor.neighbor %>
</p>

<%= link_to 'Edit', edit_intersectionneighbor_path(@intersectionneighbor) %> |
<%= link_to 'Back', intersectionneighbors_path %>
