<p id="notice"><%= notice %></p>

<p>
  <strong>Synonym:</strong>
  <%= @diseasesynonym.synonym %>
</p>

<%= link_to 'Edit', edit_diseasesynonym_path(@diseasesynonym) %> |
<%= link_to 'Back', diseasesynonyms_path %>
