<p id="notice"><%= notice %></p>

<p>
  <strong>Neighbor:</strong>
  <%= @typedefinitionproteinneighbor.neighbor %>
</p>

<%= link_to 'Edit', edit_typedefinitionproteinneighbor_path(@typedefinitionproteinneighbor) %> |
<%= link_to 'Back', typedefinitionproteinneighbors_path %>
