<p id="notice"><%= notice %></p>

<p>
  <strong>Subset:</strong>
  <%= @diseasesubset.subset %>
</p>

<%= link_to 'Edit', edit_diseasesubset_path(@diseasesubset) %> |
<%= link_to 'Back', diseasesubsets_path %>
