<p id="notice"><%= notice %></p>

<p>
  <strong>Neighbor:</strong>
  <%= @typedefinitiondiseaseneighbor.neighbor %>
</p>

<%= link_to 'Edit', edit_typedefinitiondiseaseneighbor_path(@typedefinitiondiseaseneighbor) %> |
<%= link_to 'Back', typedefinitiondiseaseneighbors_path %>
