<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @predictiontool.name %>
</p>

<%= link_to 'Edit', edit_predictiontool_path(@predictiontool) %> |
<%= link_to 'Back', predictiontools_path %>
