<p id="notice"><%= notice %></p>

<p>
  <strong>Xrefname:</strong>
  <%= @xrefprotein.xrefname %>
</p>

<%= link_to 'Edit', edit_xrefprotein_path(@xrefprotein) %> |
<%= link_to 'Back', xrefproteins_path %>
