<p id="notice"><%= notice %></p>

<p>
  <strong>Neighbor:</strong>
  <%= @relationshipneighbor.neighbor %>
</p>

<%= link_to 'Edit', edit_relationshipneighbor_path(@relationshipneighbor) %> |
<%= link_to 'Back', relationshipneighbors_path %>
